[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
bcrypt = "*"
email-validator = "*"
gunicorn = "*"
google-adk = "*"
google-generativeai = "*"
flask = ">=3.0.0"
flask-cors = "*"
flask-jwt-extended = "*"
pymongo = "*"
python-dotenv = "*"
google-cloud-translate = "==2.0.1"
crewai = "*"
flask-mail = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
